<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <!--White Splash Graphic-->
    <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-shape.png" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <img class="cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-shape-dark.png" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    
    <div class="container">
        <h2 class="title">
            Join Us On
            <br/>
            The Mats Today
        </h2>
        <p>
            Ready to Take the Next Step? Let's Connect and Elevate Your Journey! Click Here to Reach Out And Try A Free Class.
        </p>
        <a href="/contact" class="cs-button-solid cs-button1">Free Class
            <img class="cs-button-icon" src="/assets/svgs/chevron.svg" alt="chevron icon" width="20" height="20">
        </a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/group-photo-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/group-photo.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/group-photo.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>
</section>