<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Join Us On
            <br />
            The Mats Today
        </h2>
        <p>
            Ready to Take the Next Step? Let's Connect and Elevate Your Journey! Click Here to Reach Out..
        </p>
        <a href="/contact" class="cs-button-solid">Get in Touch</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/gym-bg.png">
        <source media="(min-width: 601px)" srcset="/assets/images/gym-bg.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/gym-bg.png" alt="armbar-photo" loading="lazy" width="1000" height="562">
    </picture>
</section>