<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/subg-nb-logo-2.png" alt="logo" width="517" height="400"></a>
            <div class="socials">
                <a class="social-icons" href="https://www.facebook.com/p/SUB-G-Brazilian-Jiu-Jitsu-100077642723641/?paipv=0&eav=AfZSu2-R5yqD0nHYofHYfXHL0PCIfORB6Sm1RKYELF97DZt3pEGXbbQ_zKZZSJJUE-U&_rdr" target="_blank"><img src="/assets/svgs/facebook-fill.svg" loading="lazy" decoding="async" alt="facebook" height="20" width="20"></a>
                <a class="social-icons" href="https://www.youtube.com/@SUB_G" target="_blank"><img src="/assets/svgs/youtube.svg" loading="lazy" decoding="async" alt="youtube" height="20" width="20"></a>
                <a class="social-icons" href="https://www.instagram.com/subg_brazilianjiujitsu/" target="_blank"><img src="/assets/svgs/instagram.svg" loading="lazy" decoding="async" alt="instagram" height="20" width="20"></a>
            </div>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/#classes-container">Classes</a>
                    </li>
                    <li>
                        <a href="/schedule">Schedule</a>
                    </li>
                    <li>
                        <a href="/join">Pricing</a>
                    </li>
                    <li>
                        <a href="/#contact-us-container">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Classes</h2>
                    </li>
                    <li>Brazilian Jiu-Jitsu</li>
                    <li>MMA Striking</li>
                    <li>Youth Jiu-Jitsu</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="{{client.address.mapLink}}" target="_blank">
                            {{client.address.lineOne}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">{{client.email}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="credit">
        <span>© Copyright 2023 - Hand Coded By Liam Straebler</span>
    </div>
</footer>