<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <section class="nav-section">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container container-0">
        <a class="navbar-brand" href="../home-page/index.html" aria-label="home logo button">
          <img src="assets/images/Sub-G-textonly-logo_copy-removebg-preview.png" class="img-responsive" height="30px" alt="Sub-G Logo">          
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="../home-page/index.html" target="_blank">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#classes-container" id="classes-nav">Classes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Schedule-Page/schedule.html" target="_blank">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../About-us-page/about-us.html" target="_blank">About</a>        
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-us-container" id="contact-us-nav">Contact Us</a>
            </li>
            <li class="nav-item nav-item-2" id="join-us-mobile">
              <a class="nav-link nav-link-secondary" href="../Sign-up-page/sign-up.html" target="_blank">Join Now</a>
            </li>
          </ul>
          <div class="navbar-text d-flex justify-content-center align-items-center mx-md-auto text-center">
            <a href="../Sign-up-page/sign-up.html" target="_blank" class="mx-2 become-member">Become a Member</a>
          </div>
        </div>
      </div>
    </nav>
  </section>
</header>