<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1149 181">
            <defs>
                <style>
                .cls-1 {
                    fill: #111;
                }

                .cls-2 {
                    fill: #11ea25;
                }

                .cls-3 {
                    fill: none;
                }

                .cls-4 {
                    fill: #d41e20;
                }

                .cls-5 {
                    display: none;
                }
                </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.1, SVG Export Plug-In . SVG Version: 1.2.0 Build 142)  -->
            <g>
                <g id="Layer_1">
                <g id="Layer_2" class="cls-5">
                    <g>
                    <path class="cls-2" d="M223.8,49.4H11c-3,0-5.4-2.4-5.4-5.4V11.4c0-3,2.4-5.4,5.4-5.4h212.7c3,0,5.4,2.4,5.4,5.4v32.6c.1,3-2.3,5.4-5.3,5.4Z"/>
                    <path class="cls-2" d="M5.6,103.5V34.7c0-3,2.4-5.4,5.4-5.4h40c3,0,5.4,2.4,5.4,5.4v68.8c0,3-2.4,5.4-5.4,5.4H11c-3,0-5.4-2.4-5.4-5.4Z"/>
                    <path class="cls-2" d="M224.6,111.5H11.9c-3,0-5.4-2.4-5.4-5.4v-32.6c0-3,2.4-5.4,5.4-5.4h212.7c3,0,5.4,2.4,5.4,5.4v32.6c0,3-2.4,5.4-5.4,5.4Z"/>
                    <path class="cls-2" d="M177.8,167.6v-93.6c0-3,2.4-5.4,5.4-5.4h42.1c3,0,5.4,2.4,5.4,5.4v93.6c0,3-2.4,5.4-5.4,5.4h-42.1c-3,0-5.4-2.4-5.4-5.4Z"/>
                    <path class="cls-2" d="M223.6,173.2H10.9c-3,0-5.4-2.4-5.4-5.4v-32.6c0-3,2.4-5.4,5.4-5.4h212.7c3,0,5.4,2.4,5.4,5.4v32.6c.1,3-2.4,5.4-5.4,5.4Z"/>
                    <path class="cls-2" d="M260.9,167.7V12c0-3,2.4-5.4,5.4-5.4h37.3c3,0,5.4,2.4,5.4,5.4v155.7c0,3-2.4,5.4-5.4,5.4h-37.3c-2.9,0-5.4-2.4-5.4-5.4Z"/>
                    <path class="cls-2" d="M479.5,173.2h-212.7c-3,0-5.4-2.4-5.4-5.4v-32.6c0-3,2.4-5.4,5.4-5.4h212.7c3,0,5.4,2.4,5.4,5.4v32.6c0,2.9-2.4,5.4-5.4,5.4Z"/>
                    <path class="cls-2" d="M438.5,167.2V11.5c0-3,2.4-5.4,5.4-5.4h35.4c3,0,5.4,2.4,5.4,5.4v155.7c0,3-2.4,5.4-5.4,5.4h-35.3c-3.1.1-5.5-2.4-5.5-5.4Z"/>
                    <path class="cls-2" d="M517.1,167.5V11.8c0-3,2.4-5.4,5.4-5.4h35.3c3,0,5.4,2.4,5.4,5.4v155.7c0,3-2.4,5.4-5.4,5.4h-35.3c-2.9,0-5.4-2.4-5.4-5.4Z"/>
                    <path class="cls-2" d="M738.6,50.3h-216.1c-3,0-5.4-2.4-5.4-5.4V12c0-3,2.4-5.4,5.4-5.4h199.5c12.2,0,22.2,9.9,22.2,22.1v16.2c-.1,3-2.5,5.4-5.6,5.4Z"/>
                    <path class="cls-2" d="M700.5,110.5h-162c-11.7,0-21.2-9.5-21.2-21.2v-1.4c0-11.7,9.5-21.2,21.2-21.2h162c11.7,0,21.2,9.5,21.2,21.2v1.4c0,11.7-9.5,21.2-21.2,21.2Z"/>
                    <path class="cls-2" d="M698.4,158.2V21c0-8.1,6.6-14.7,14.7-14.7h.6c10,0,18.1,8.1,18.1,18.1v130.4c0,10-8.1,18.1-18.1,18.1h-.6c-8.1,0-14.7-6.6-14.7-14.7Z"/>
                    <path class="cls-2" d="M738.6,128.7h-215.8c-3,0-5.4,2.4-5.4,5.4v33.4c0,3,2.4,5.4,5.4,5.4h199.4c12.1,0,21.9-9.8,21.9-21.9v-16.9c0-2.9-2.4-5.4-5.5-5.4Z"/>
                    <path class="cls-2" d="M698.2,67.8h-134.4c-3.4,0-6.1-2.7-6.1-6.1v-7.5c0-4.2,3.4-7.6,7.5-7.6h131.6c4.2,0,7.5,3.4,7.5,7.6v7.5c0,3.4-2.7,6.1-6.1,6.1Z"/>
                    <path class="cls-2" d="M704.4,151.8v-43.7c0-9.3,7.5-16.8,16.8-16.8h6.6c9.3,0,16.8,7.5,16.8,16.8v43.7c0,9.3-7.5,16.8-16.8,16.8h-6.6c-9.3-.1-16.8-7.6-16.8-16.8Z"/>
                    <path class="cls-2" d="M704.4,63.5V31.3c0-9.3,7.5-16.8,16.8-16.8h6.6c9.3,0,16.8,7.5,16.8,16.8v32.1c0,9.3-7.5,16.8-16.8,16.8h-6.6c-9.3,0-16.8-7.5-16.8-16.7Z"/>
                    <rect class="cls-2" x="753.8" y="73.7" width="152.7" height="47.3"/>
                    <g>
                        <path class="cls-2" d="M1135.1,53.4h-212.7c-3,0-5.4-2.4-5.4-5.4v-30.9c0-3,2.4-5.4,5.4-5.4h212.7c3,0,5.4,2.4,5.4,5.4v30.8c0,3.1-2.4,5.5-5.4,5.5Z"/>
                        <path class="cls-2" d="M916.5,167.6V20.3c0-3,2.4-5.4,5.4-5.4h33.9c3,0,5.4,2.4,5.4,5.4v147.3c0,3-2.4,5.4-5.4,5.4h-33.8c-3,0-5.5-2.4-5.5-5.4Z"/>
                        <path class="cls-2" d="M1132.1,173h-208.9c-3,0-5.4-2.4-5.4-5.4v-28.8c0-3,2.4-5.4,5.4-5.4h208.9c3,0,5.4,2.4,5.4,5.4v28.8c0,3-2.4,5.4-5.4,5.4Z"/>
                        <path class="cls-2" d="M1093.8,166.9v-90.8c0-3,2.4-5.4,5.4-5.4h35.5c3,0,5.4,2.4,5.4,5.4v90.8c0,3-2.4,5.4-5.4,5.4h-35.5c-3,0-5.4-2.4-5.4-5.4Z"/>
                        <path class="cls-2" d="M1131.1,113h-106.2c-3,0-5.4-2.4-5.4-5.4v-31.5c0-3,2.4-5.4,5.4-5.4h106.2c3,0,5.4,2.4,5.4,5.4v31.5c0,3-2.4,5.4-5.4,5.4Z"/>
                    </g>
                    <path class="cls-2" d="M440.5,169.9V9.6c0-1.7,1.4-3.1,3.1-3.1h.1c1.7,0,3.1,1.4,3.1,3.1v160.3c0,1.7-1.4,3.1-3.1,3.1h-.1c-1.6,0-3.1-1.4-3.1-3.1Z"/>
                    <path class="cls-2" d="M308.8,9.6v160.3c0,1.7-1.4,3.1-3.1,3.1h-.1c-1.7,0-3.1-1.4-3.1-3.1V9.6c0-1.7,1.4-3.1,3.1-3.1h.1c1.7-.1,3.1,1.3,3.1,3.1Z"/>
                    <path class="cls-2" d="M708.8,70.2l17.6-21.5,15.5,13.1c2.7,2.2,3,6.3.8,9l-13.6,16.6-20.3-17.2Z"/>
                    <path class="cls-2" d="M721.7,117.7l-14.8-23.6,22.3-14.4,12.2,19.3c1.5,2.3.8,5.4-1.5,6.8l-18.2,11.9Z"/>
                    </g>
                </g>
                <g id="Layer_1-2" data-name="Layer_1">
                    <g>
                        <path class="cls-4" d="M223.6,51.5H14.9c-3,0-5.4-2.4-5.4-5.4V14.9c0-3,2.4-5.4,5.4-5.4h208.6c3,0,5.4,2.4,5.4,5.4v31.1c.1,3.1-2.3,5.5-5.3,5.5Z"/>
                        <path class="cls-4" d="M9.5,103.6V37.4c0-3,2.4-5.4,5.4-5.4h39.1c3,0,5.4,2.4,5.4,5.4v66.1c0,3-2.4,5.4-5.4,5.4H14.9c-3,0-5.4-2.3-5.4-5.3Z"/>
                        <path class="cls-4" d="M224.4,111.5H15.8c-3,0-5.4-2.4-5.4-5.4v-31.1c0-3,2.4-5.4,5.4-5.4h208.6c3,0,5.4,2.4,5.4,5.4v31.1c0,3-2.4,5.4-5.4,5.4Z"/>
                        <path class="cls-4" d="M178.5,165.6v-90.2c0-3,2.4-5.4,5.4-5.4h41.1c3,0,5.4,2.4,5.4,5.4v90.1c0,3-2.4,5.4-5.4,5.4h-41.1c-3,.1-5.4-2.3-5.4-5.3Z"/>
                        <path class="cls-4" d="M223.5,171.2H14.8c-3,0-5.4-2.4-5.4-5.4v-31.1c0-3,2.4-5.4,5.4-5.4h208.6c3,0,5.4,2.4,5.4,5.4v31.1c0,3-2.3,5.4-5.3,5.4Z"/>
                        <path class="cls-4" d="M260.2,165.6V15.4c0-3,2.4-5.4,5.4-5.4h36.5c3,0,5.4,2.4,5.4,5.4v150.2c0,3-2.4,5.4-5.4,5.4h-36.5c-3,.1-5.4-2.4-5.4-5.4Z"/>
                        <path class="cls-4" d="M474.6,171.1h-208.6c-3,0-5.4-2.4-5.4-5.4v-31.1c0-3,2.4-5.4,5.4-5.4h208.6c3,0,5.4,2.4,5.4,5.4v31.1c0,3-2.4,5.4-5.4,5.4Z"/>
                        <path class="cls-4" d="M434.5,165.2V15c0-3,2.4-5.4,5.4-5.4h34.6c3,0,5.4,2.4,5.4,5.4v150.2c0,3-2.4,5.4-5.4,5.4h-34.6c-3,.1-5.4-2.4-5.4-5.4Z"/>
                        <path class="cls-4" d="M511.7,165.4V15.2c0-3,2.4-5.4,5.4-5.4h34.5c3,0,5.4,2.4,5.4,5.4v150.2c0,3-2.4,5.4-5.4,5.4h-34.5c-3,.1-5.4-2.4-5.4-5.4Z"/>
                        <path class="cls-4" d="M729.1,52.3h-212.1c-3,0-5.4-2.4-5.4-5.4V15.4c0-3,2.4-5.4,5.4-5.4h195.3c12.2,0,22.2,9.9,22.2,22.2v14.8c0,2.9-2.4,5.3-5.4,5.3Z"/>
                        <path class="cls-4" d="M691.3,110.5h-158.2c-11.7,0-21.2-9.5-21.2-21.2h0c0-11.7,9.5-21.2,21.2-21.2h158.2c11.7,0,21.2,9.5,21.2,21.2h0c0,11.7-9.5,21.2-21.2,21.2Z"/>
                        <path class="cls-4" d="M689.7,156.2V24.5c0-8.1,6.6-14.7,14.7-14.7h0c10,0,18.1,8.1,18.1,18.1v124.8c0,10-8.1,18.1-18.1,18.1h0c-8.1,0-14.7-6.5-14.7-14.6Z"/>
                        <path class="cls-4" d="M729.1,128.2h-211.8c-3,0-5.4,2.4-5.4,5.4v31.9c0,3,2.4,5.4,5.4,5.4h195.2c12.1,0,21.9-9.8,21.9-21.9v-15.5c0-2.9-2.3-5.3-5.3-5.3Z"/>
                        <path class="cls-3" d="M689.4,69.3h-131.8c-3.4,0-6.1-2.7-6.1-6.1v-6.8c0-4.2,3.4-7.6,7.5-7.6h128.9c4.2,0,7.5,3.4,7.5,7.6v6.8c0,3.3-2.6,6.1-6,6.1Z"/>
                        <path class="cls-4" d="M695.5,149.9v-41.1c0-9.3,7.5-16.8,16.8-16.8h5.9c9.3,0,16.8,7.5,16.8,16.8v41.1c0,9.3-7.5,16.8-16.8,16.8h-5.9c-9.3,0-16.8-7.6-16.8-16.8Z"/>
                        <path class="cls-4" d="M695.5,64.5v-29.9c0-9.3,7.5-16.8,16.8-16.8h5.9c9.3,0,16.8,7.5,16.8,16.8v29.9c0,9.3-7.5,16.8-16.8,16.8h-5.9c-9.2,0-16.8-7.5-16.8-16.8Z"/>
                        <g class="logo-g">
                            <rect class="cls-1" x="762.7" y="74" width="131.8" height="40.1" rx="2.7" ry="2.7"/>
                            <path class="cls-1" d="M1133.9,55.3h-208.6c-3,0-5.4-2.4-5.4-5.4v-29.5c0-3,2.4-5.4,5.4-5.4h208.6c3,0,5.4,2.4,5.4,5.4v29.4c0,3.1-2.4,5.5-5.4,5.5Z"/>
                            <path class="cls-1" d="M919.5,165.6V23.5c0-3,2.4-5.4,5.4-5.4h33.1c3,0,5.4,2.4,5.4,5.4v142.1c0,3-2.4,5.4-5.4,5.4h-33.1c-3,0-5.4-2.4-5.4-5.4Z"/>
                            <path class="cls-1" d="M1131.1,171h-204.9c-3,0-5.4-2.4-5.4-5.4v-27.5c0-3,2.4-5.4,5.4-5.4h204.9c3,0,5.4,2.4,5.4,5.4v27.5c0,3-2.4,5.4-5.4,5.4Z"/>
                            <path class="cls-1" d="M1091,164.8v-87.4c0-3,2.4-5.4,5.4-5.4h34.7c3,0,5.4,2.4,5.4,5.4v87.4c0,3-2.4,5.4-5.4,5.4h-34.7c-3,.1-5.4-2.3-5.4-5.4Z"/>
                            <path class="cls-1" d="M1130.1,113h-104.1c-3,0-5.4-2.4-5.4-5.4v-30.2c0-3,2.4-5.4,5.4-5.4h104.1c3,0,5.4,2.4,5.4,5.4v30.1c0,3-2.4,5.5-5.4,5.5Z"/>
                        </g>
                        <path class="cls-4" d="M436.5,167.9V13.1c0-1.7,1.4-3.1,3.1-3.1h0c1.7,0,3.1,1.4,3.1,3.1v154.8c0,1.7-1.4,3.1-3.1,3.1h0c-1.7,0-3.1-1.4-3.1-3.1Z"/>
                        <path class="cls-4" d="M307.2,13.1v154.8c0,1.7-1.4,3.1-3.1,3.1h0c-1.7,0-3.1-1.4-3.1-3.1V13.1c0-1.7,1.4-3.1,3.1-3.1h0c1.7-.1,3.1,1.3,3.1,3.1Z"/>
                        <path class="cls-4" d="M699.9,71.6l17.3-20.8,15.2,12.6c2.7,2.2,3,6.2.8,8.8l-13.3,15.9-20-16.5Z"/>
                        <path class="cls-4" d="M712.5,117.5l-14.5-22.8,21.9-14,11.9,18.7c1.5,2.3.8,5.3-1.5,6.7l-17.8,11.4Z"/>
                    </g>
                </g>
                </g>
            </g>
            </svg>
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/#why-choose-1824" class="cs-li-link">
                            Classes
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/schedule" class="cs-li-link cs-li-link {% if page.url == '/schedule/' %} cs-active {% endif %}">
                            Schedule
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link {% if page.url.match('/locations/') %} cs-active {% endif %}">
                            Locations
                            <img class="cs-drop-icon" src="/assets/svgs/dropdown-arrow.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/locations/middletown" class="cs-li-link cs-drop-link {% if page.url == '/locations/middletown/' %} cs-active {% endif %}">Middletown</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/port-jervis" class="cs-li-link cs-drop-link {% if page.url == '/locations/port-jervis/' %} cs-active {% endif %}">Port Jervis</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/contact" class="cs-li-link cs-hide-on-desktop">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact" class="cs-button-solid cs-button1">Contact Us
            <img class="cs-button-icon" src="/assets/svgs/chevron.svg" alt="chevron icon" width="20" height="20">
        </a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="moon" width="15" height="15">
        </button>
    </div>
</header>
                                