---
title: 'About Us | SUB-G Brazilian Jiu-Jitsu'
description: "Learn about Sub G Brazilian Jiu-Jitsu, our mission, experienced instructors, and the supportive community at our Port Jervis and Middletown locations."
preloadImg: '/assets/images/about-banner-m.webp'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1004">
        <div class="cs-container">
            <picture class="cs-picture">
                <img class="cs-icon" decoding="async" src="/assets/images/subg-nb-logo.png" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <span class="cs-int-title">About Us</span>
            <p class="cs-text">
                Step onto the mats in Port Jervis or Middletown and unlock your true potential. At Sub-G, we're more than a community, we're a family.
            </p>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/about-banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about-banner.jpg">
            <img decoding="async" src="/assets/images/about-banner.jpg" alt="logo" width="1920" height="1000">
        </picture>

        <img class="cs-graphic" src="/assets/svgs/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="/assets/svgs/white-splatter2-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </div>

    <!-- ============================================ -->
    <!--              Side By Side Reverse            -->
    <!-- ============================================ -->

    <section id="sbsr-1457">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/brown-belt-roll-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/brown-belt-roll.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/brown-belt-roll.jpg" alt="brown belt rolling" width="539" height="729" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/phil-promotion-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/phil-promotion.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/phil-promotion.jpg" alt="SUB-G member promoted to purple belt" width="390" height="415" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">Grappling In Orange County, NY Since 2022</h2>
                <p class="cs-text">
                    At Sub-G, we're more than just a Brazilian Jiu-Jitsu academy; we're a family united by a passion for martial arts and a commitment to personal growth. Nestled within both Port Jervis and Middletown, we provide a welcoming environment where practitioners of all levels can thrive.
                </p>
                <p class="cs-text">
                    Whether you're a seasoned competitor or stepping onto the mat for the first time, our experienced instructors are dedicated to guiding you on your journey to mastering the art of Jiu-Jitsu and Martial Arts. Join us in the art of Brazilian Jiu-Jitsu at Sub-G, where every roll is an opportunity for self-discovery and growth.
                </p>
                <a href="/contact" class="cs-button-solid cs-button1">Get In Touch
                    <img class="cs-button-icon" src="/assets/svgs/chevron.svg" alt="chevron icon" width="20" height="20">
                </a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1807">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Coach Tyler</span>
                <h2 class="cs-title">Your Black Belt Coach For All Things Martial Arts</h2>
                <p class="cs-text">
                    Coach Tyler Roberts, a skilled Brazilian Jiu-Jitsu black belt, is dedicated to fostering growth in students of all ages. His passion for the art of BJJ is matched by his commitment to teaching and mentoring students at every level. Whether working with beginners or advanced practitioners, Coach Roberts tailors his instruction to meet each student's needs, ensuring they develop the confidence, discipline, and technique required for success both on and off the mat.
                </p>
                <p class="cs-text">
                    Coach Tyler believes that BJJ is not just a physical activity but a transformative tool that builds mental toughness and self-discipline. He creates a supportive learning environment where students feel encouraged to push beyond their limits and achieve their goals. His ability to connect with younger students and adults alike has made him a trusted mentor, guiding his students through the challenges of BJJ while instilling lifelong values of perseverance and respect.
                </p>
                <a href="/contact" class="cs-button-solid cs-button1">Join SUB-G
                    <img class="cs-button-icon" src="/assets/svgs/chevron.svg" alt="chevron icon" width="20" height="20">
                </a>          
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-stat">BJJ Black Belt</span>
                    <span class="cs-number">3+ Years</span>
                </li>
                <li class="cs-item">
                    <span class="cs-stat">Martial Arts Experience</span>
                    <span class="cs-number">10+ Years</span>
                </li>
                <li class="cs-item">
                    <span class="cs-stat">Students Coached</span>
                    <span class="cs-number">100+</span>
                </li>
            </ul>
        </div>
        <picture class="cs-person">
            <source media="(max-width: 600px)" srcset="/assets/images/instructor-photo-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/instructor-photo.png">
            <img loading="lazy" decoding="async" src="/assets/images/instructor-photo.png" alt="coach Tyler Roberts" width="705" height="937" aria-hidden="true">
        </picture>

        <!--Backgorund Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/group-photo-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/group-photo.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/group-photo.jpg" alt="SUB-G members" width="1920" height="1200">
        </picture>

        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-shape.png" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-shape-dark.png" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-727">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">What Our Members Have To Say About Us</h2>
                <p class="cs-text">
                    At SUB-G, we deeply value the insights and opinions of our members. We are committed to listening, learning, and continuously improving to create the best possible experience for everyone in our community.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/quote2-svgrepo-com.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Great Environment</h3>
                    <p class="cs-item-text">
                        I'm impressed with the relaxed informal class structure at Sub-G. After training at a few schools over the course of a few years the non-traditional approach at Sub-G was very refreshing. This is a growth oriented learning space...
                    </p>
                    <span class="cs-name">Sean R.</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/quote2-svgrepo-com.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Perfect For Kids & Adults</h3>
                    <p class="cs-item-text">
                        Super great place to train, everyone is friendly and respectful. The instructor is a very good teacher, I've learned so much in a short period of time along with my daughter who loves training here and he's great with the kids so I highly recommend this gym.
                    </p>
                    <span class="cs-name">Mike H.</span>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}