---
title: 'Become a Member'
description: 'Choose from one of our flexible and affordable plans!'
preloadImg: '/assets/images/Subg-brick-bg-m.webp'
permalink: 'join/'
eleventyNavigation:
    key: Join Us
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/join.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section class="section-1">
        <div class="container" id="container-1">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6 text-center" id="header-container">
              <h1>Learn How You Can Become a Member Today</h1>
            </div>
            <div class="col-12 col-lg-7 text-center" id="subtitle-container">
              <p>Becoming a member at SUB-G is easy!  Once you've completed your <a href="/contact">free trial class</a>, we'll 
                get you set up with the plan that works best for you. Choose from our monthly, semi-annual, and annual plans.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="text-center" id="period-selector-container">
              <button class="period-selector col-4" id="selector-1">Monthly Plans</button>
              <button class="period-selector col-4" id="selector-2">6 Month Plans</button>
              <button class="period-selector col-4" id="selector-3">1 Year Plans</button>
              <div class="col-4" id="background-red"></div>
            </div>
          </div>
        </div>
        <picture>
          <source media="(max-width: 600px)" srcset="/assets/images/Subg-brick-bg-m.webp">
          <source media="(min-width: 601px)" srcset="/assets/images/Subg-brick-bg.png">
          <img aria-hidden="true" decoding="async" src="/assets/images/Subg-brick-bg.png" alt="Sub-G gym" width="1920" height="1280">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                     Prices                   -->
    <!-- ============================================ -->

    <section class="section-2">
        <div class="container" id="container-2">
          <div class="row justify-content-center" id="price-square-container">
            <div class="col-11 col-md-7 col-lg-4 price-square" id="price-square-1">
              <div class="col-12 plan-header-container" id="plan-header-1"></div>
              <div class="col-12 plan-subtitle-container" id="plan-subtitle-1"></div>
              <div class="col-10 col-lg-8 plan-price-container" id="plan-price-1"></div>
              <div class="col-10 plan-sticker-container" id="plan-sticker-1"></div>
              <div class="free-class d-flex justify-content-center">
                <a href="/contact">Free Class</a>
              </div>
              <span class="line"></span>
              <div class="col-12" id="button-container">
                <div class="col-11 sign-up">Speak with one of our team-members after your trial class to set up a plan!</div>
              </div>
              <div class="col-12 plan-included-container" id="included-container-1"></div>
            </div>
            <div class="col-11 col-md-7 col-lg-4 price-square" id="price-square-2">
              <div class="col-12 plan-header-container" id="plan-header-2"></div>
              <div class="col-12 plan-subtitle-container" id="plan-subtitle-2"></div>
              <div class="col-10 col-lg-8 plan-price-container" id="plan-price-2"></div>
              <div class="col-10 plan-sticker-container" id="plan-sticker-2"></div>
              <div class="free-class d-flex justify-content-center">
                <a href="/contact">Free Class</a>
              </div>
              <span class="line"></span>
              <div class="col-12" id="button-container">
                <div class="col-11 sign-up">Speak with one of our team-members after your trial class to set up a plan!</div>
              </div>
              <div class="col-12 plan-included-container" id="included-container-2"></div>
            </div>
          </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  FAQ Section                 -->
    <!-- ============================================ -->

    <section class="section-3">
        <div class="container text-center justify-content-center mx-auto" id="container-3">
          <div class="row">
            <div class="col-12" id="faq-header-container">
              <h1>Frequently Asked Questions</h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="faq-block justify-content-start col-11 col-lg-8" id="faq-block-1">
              <button class="extend-button col-11" id="extend-button-1">
                <div class="row">
                  <div class="col-10 justify-content-start d-flex block-header-container">
                    <h1 id="question-1">Why should I choose an annual plan?</h1>
                  </div>
                  <div class="col-2 justify-content-end d-flex align-items-center chevron-container">
                    <img src="/assets/svgs/chevron-down.svg" class="fa-chevron-down" id="chevron-1" alt="expand arrow" width="15" height="15" decoding="async">
                  </div>
                </div>
                <div class="col-12 justify-content-end d-flex align-items-center answer" id="answer-1"></div>
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="faq-block justify-content-start col-11 col-lg-8" id="faq-block-2">
              <button class="extend-button col-11" id="extend-button-2">
                <div class="row">
                  <div class="col-10 justify-content-start d-flex block-header-container">
                    <h1 id="question-2">Do I need any martial arts experience to join?</h1>
                  </div>
                  <div class="col-2 justify-content-end d-flex align-items-center chevron-container">
                    <img src="/assets/svgs/chevron-down.svg" class="fa-chevron-down" id="chevron-2" alt="expand arrow" width="15" height="15" decoding="async">
                  </div>
                </div>
                <div class="col-12 justify-content-end d-flex align-items-center answer" id="answer-2"></div>
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="faq-block justify-content-start col-11 col-lg-8" id="faq-block-3">
              <button class="extend-button col-11" id="extend-button-3">
                <div class="row">
                  <div class="col-10 justify-content-start d-flex block-header-container">
                    <h1 id="question-3">Is martial arts training safe for kids?</h1>
                  </div>
                  <div class="col-2 justify-content-end d-flex align-items-center chevron-container">
                    <img src="/assets/svgs/chevron-down.svg" class="fa-chevron-down" id="chevron-3" alt="expand arrow" width="15" height="15" decoding="async">
                  </div>
                </div>
                <div class="col-12 justify-content-end d-flex align-items-center answer" id="answer-3"></div>
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="faq-block justify-content-start col-11 col-lg-8" id="faq-block-4">
              <button class="extend-button col-11" id="extend-button-4">
                <div class="row">
                  <div class="col-10 justify-content-start d-flex block-header-container">
                    <h1 id="question-4">What are the benefits of training martial arts?</h1>
                  </div>
                  <div class="col-2 justify-content-end d-flex align-items-center chevron-container">
                    <img src="/assets/svgs/chevron-down.svg" class="fa-chevron-down" id="chevron-4" alt="expand arrow" width="15" height="15" decoding="async">
                  </div>
                </div>
                <div class="col-12 justify-content-end d-flex align-items-center answer" id="answer-4"></div>
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="faq-block justify-content-start col-11 col-lg-8" id="faq-block-5">
              <button class="extend-button col-11" id="extend-button-5">
                <div class="row">
                  <div class="col-10 justify-content-start d-flex block-header-container">
                    <h1 id="question-5">What equipment or attire do I need for classes?</h1>
                  </div>
                  <div class="col-2 justify-content-end d-flex align-items-center chevron-container">
                    <img src="/assets/svgs/chevron-down.svg" class="fa-chevron-down" id="chevron-5" alt="expand arrow" width="15" height="15" decoding="async">
                  </div>
                </div>
                <div class="col-12 justify-content-end d-flex align-items-center answer" id="answer-5"></div>
              </button>
            </div>
          </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/assets/js/join.js"></script>

{% endblock %}