---
title: 'Middletown Facility | SUB-G Brazilian Jiu-Jitsu'
description: "Train at Sub G Brazilian Jiu-Jitsu in Middletown, NY, located inside Positive Fitness at 30 Dolsen Ave. Enjoy access to a large training space, showers, locker rooms, and weight training equipment."
preloadImg: '/assets/images/about-banner-m.webp'
permalink: '/locations/middletown/'
eleventyNavigation:
    key: Middletown
    order: 3100
    parent: Locations
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/middletown.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1004">
        <div class="cs-container">
            <picture class="cs-picture">
                <img class="cs-icon" decoding="async" src="/assets/images/subg-nb-logo.png" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <span class="cs-int-title">Middletown, NY Facility</span>
            <p class="cs-text">
                Train in out Middletown facility with spacious mats, premium amenities, and access to the full Positive Fitness gym experience.
            </p>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/about-banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about-banner.jpg">
            <img decoding="async" src="/assets/images/about-banner.jpg" alt="logo" width="1920" height="1000">
        </picture>

        <img class="cs-graphic" src="/assets/svgs/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="/assets/svgs/white-splatter2-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </div>

    <!-- ============================================ -->
    <!--                 Content Page                 -->
    <!-- ============================================ -->

    <section id="content-page-713">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Try Out SUB-G's Brand New Middletown Facility</h1>
                <p>
                    As of October 2024 SUB-G Brazilian Jiu-Jitsu has expanded to a new, state-of-the-art facility in Middletown, NY. The spacious training area provides plenty of room for classes, open mat sessions, 
                    and specialized training programs. In addition, members have exclusive access to Positive Fitness, a fully-equipped gym that includes showers, locker rooms, and high-quality workout 
                    equipment. This new facility is designed to enhance your training experience, offering everything you need for a comprehensive fitness routine under one roof. Whether you're here for 
                    BJJ or a full-body workout, SUB-G's new Middletown location has you covered.
                </p>
                <h2>Showers, Locker-Rooms, & Weight Training Equipment</h3>
                <p>
                    Located inside Positive Fitness Training at <a href="https://maps.app.goo.gl/312tGxu6GoggUNnVA" target="_blank">130 Dolson Ave</a>, the Middletown SUB-G Brazilian Jiu-Jitsu facility offers convenient access to showers, locker rooms, and top-tier weight training equipment. 
                    After your BJJ session, you can refresh in the clean, spacious locker rooms and take advantage of the full gym setup. Positive Fitness is fully equipped with free weights, machines, and cardio gear, 
                    providing everything you need to supplement your training and keep yourself in peak physical condition.
                </p>
                <ul>
                    <li>Showers and locker-rooms included for your convenience</li>
                    <li>Large mat space for BJJ and martial arts training</li>
                    <li>Access to Positive Fitness Training's weight and cardio equipment</li>
                </ul>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/middletown-facility-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/middletown-facility.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/middletown-facility.jpg" alt="person" width="570" height="680" aria-hidden="true">
                </picture>
            </div>
        </div>
        <!--Waves Graphic-->
        <picture class="cs-background">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <div id="gallery-565">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/middletown-weights.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/middletown-weights.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/middletown-weights.jpg" alt="weight and cario equipment" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/middletown-locker-rooms.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/middletown-locker-rooms.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/middletown-locker-rooms.jpg" alt="locker rooms" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/middletown-showers.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/middletown-showers.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/middletown-showers.jpg" alt="showers" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/middletown-lockers.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/middletown-lockers.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/middletown-lockers.jpg" alt="lockers" width="480" height="549">
        </picture>
    </div>
                                    
{% endblock %}