---
title: 'Port Jervis Facility | SUB-G Brazilian Jiu-Jitsu'
description: "Experience Sub G Brazilian Jiu-Jitsu in Port Jervis, NY, at 123 Pike Street. Our facility features a spacious training area, two bathrooms, and a welcoming community of dedicated members."
preloadImg: '/assets/images/about-banner-m.webp'
permalink: '/locations/port-jervis/'
eleventyNavigation:
    key: Port Jervis
    order: 3200
    parent: Locations
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/middletown.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1004">
        <div class="cs-container">
            <picture class="cs-picture">
                <img class="cs-icon" decoding="async" src="/assets/images/subg-nb-logo.png" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <span class="cs-int-title">Port Jervis, NY Facility</span>
            <p class="cs-text">
                Experience expert Brazilian Jiu-Jitsu training in a focused, community-driven setting at our Port Jervis location.
            </p>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/about-banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about-banner.jpg">
            <img decoding="async" src="/assets/images/about-banner.jpg" alt="logo" width="1920" height="1000">
        </picture>

        <img class="cs-graphic" src="/assets/svgs/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="/assets/svgs/white-splatter2-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </div>

    <!-- ============================================ -->
    <!--                 Content Page                 -->
    <!-- ============================================ -->

    <section id="content-page-713">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Come Train At SUB-G's Main Facility In Port Jervis, NY</h1>
                <p>
                    SUB-G Brazilian Jiu-Jitsu's Port Jervis facility, located at <a href="https://maps.app.goo.gl/Uhdo45nTdgHzCxbK7" target="_blank">123 Pike Street</a>, offers a spacious training area designed to accommodate athletes of all 
                    skill levels. With two bathrooms on-site, students have convenient access to everything they need for a seamless training experience. The large mat 
                    space ensures plenty of room for classes, open mats, and personalized instruction. Whether you're new to Brazilian Jiu-Jitsu or looking to sharpen your 
                    skills, our Port Jervis location provides an ideal setting for your growth and progression in the sport.
                </p>
                <h2>Join The 50+ Members Who Train At SUB-G Port Jervis</h3>
                <p>
                    At the Port Jervis facility, members benefit from an established community that fosters camaraderie and support among practitioners of all levels. The welcoming atmosphere encourages 
                    personal growth and lasting friendships, making every training session an enriching experience. Additionally, the facility features two bathrooms and a dedicated shoe room, ensuring 
                    convenience for all members. This thoughtful layout enhances the training environment, allowing everyone to focus on honing their skills while enjoying the sense of belonging that Sub G offers.
                </p>
                <ul>
                    <li>Established community of students and enthusiasts</li>
                    <li>Large mat space for BJJ and martial arts training</li>
                    <li>Two bathrooms, shoe room, & more</li>
                </ul>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/port-jervis-facility.JPG">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/port-jervis-facility.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/port-jervis-facility.JPG" alt="Port Jervis location" width="570" height="680" aria-hidden="true">
                </picture>
            </div>
        </div>
        <!--Waves Graphic-->
        <picture class="cs-background">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <div id="gallery-565">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/pj-facility-1.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/pj-facility-1.JPG">
            <img loading="lazy" decoding="async" src="/assets/images/pj-facility-1.JPG" alt="port jervis facility" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/pj-facility-2.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/pj-facility-2.JPG">
            <img loading="lazy" decoding="async" src="/assets/images/pj-facility-2.JPG" alt="port jervis facility" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/pj-facility-3.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/pj-facility-3.JPG">
            <img loading="lazy" decoding="async" src="/assets/images/pj-facility-3.JPG" alt="port jervis facility" width="480" height="549">
        </picture>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/pj-facility-4.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/pj-facility-4.JPG">
            <img loading="lazy" decoding="async" src="/assets/images/pj-facility-4.JPG" alt="port jervis facility" width="480" height="549">
        </picture>
    </div>
{% endblock %}