---
title: 'Schedule | SUB-G Brazilian Jiu-Jitsu'
description: 'Embark on your Martial Arts journey at your own pace by exploring our flexible class schedule.'
preloadImg: '/assets/images/schedule-lp-bg.png'
permalink: 'schedule/'
eleventyNavigation:
    key: Schedule
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/schedule.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1004">
        <div class="cs-container">
            <picture class="cs-picture">
                <img class="cs-icon" decoding="async" src="/assets/images/subg-nb-logo.png" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <span class="cs-int-title">Class Schedule</span>
            <p class="cs-text">
                Whether you're an early riser, a night owl, or prefer weekends, our diverse class offerings ensure there's a slot that fits seamlessly into your routine.
            </p>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/schedule-banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/schedule-banner.jpg">
            <img decoding="async" src="/assets/images/schedule-banner.jpg" alt="logo" width="1920" height="1000">
        </picture>

        <img class="cs-graphic" src="/assets/svgs/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="/assets/svgs/white-splatter2-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </div>
                                    
    <!-- ============================================ -->
    <!--                   Timetable                  -->
    <!-- ============================================ -->

    <section id="timetable-1731">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Schedule</span>
                    <h2 class="cs-title">Join Us On The Mats At A Time That Works For You</h2>
                </div>
                <a href="/contact" class="cs-button-solid cs-button1">Try A Free Class
                    <img class="cs-button-icon" src="/assets/svgs/chevron.svg" width="20" height="20">
                </a>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    Port Jervis Schedule
                </button>
                <button class="cs-button" data-filter="two">
                    Middletown Schedule
                </button>
            </div>

            <!-- Port Jervis Schedule -->
            <div class="cs-table-list" data-category="one">
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Monday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>6:30 AM - 7:30 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Youth Brazilian Jiu-Jitsu</th>
                            <td>5:00 PM - 6:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>6:00 PM - 7:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Tuesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>6:00 PM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Striking Drilling</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Wednesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>6:30 AM - 7:30 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>10:00 AM - 11:00 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Youth Brazilian Jiu-Jitsu</th>
                            <td>5:00 PM - 6:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>6:00 PM - 7:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Thursday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>6:00 PM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Striking Drilling</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>6:30 AM - 7:30 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Youth Brazilian Jiu-Jitsu</th>
                            <td>5:00 PM - 6:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>6:00 PM - 7:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>10:00 AM - 11:00 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Striking Sparring</th>
                            <td>11:00 AM - 12:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Middletown Schedule -->
            <div class="cs-table-list cs-hidden" data-category="two">
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Monday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Tuesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>10:00 AM - 11:00 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Wednesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Thursday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Beginners Jiu-Jitsu</th>
                            <td>10:00 AM - 11:00 AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brazilian Jiu-Jitsu</th>
                            <td>7:00 PM - 8:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Mat Pilates</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Cardio Burn</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Strong Man</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg-desk.png">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png" alt="background" loading="lazy" decoding="async" height="1080" width="1920" >
        </picture>
    </section>

    {% include 'components/cta.html' %}

    <script>
        // Date highlighter

        document.addEventListener('DOMContentLoaded', function() {
            const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            const today = new Date().getDay(); // Get current day (0 is Sunday, 1 is Monday, etc.)
            const tables = document.querySelectorAll('.cs-table');

            tables.forEach(table => {
                const thead = table.querySelector('thead');
                if (thead.textContent.includes(daysOfWeek[today])) {
                    thead.classList.add('highlighted-day');
                }
            });
        });

        // Location changer
        class GalleryFilter {
        filtersSelector = '.cs-button'
        imagesSelector = '.cs-table-list'
        activeClass = 'cs-active'
        hiddenClass = 'cs-hidden'

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector)
            this.$activeFilter = $filters[0]
            this.$images = document.querySelectorAll(this.imagesSelector)

            this.$activeFilter.classList.add(this.activeClass)

            for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter)

            const { activeClass } = this

            this.$activeFilter.classList.remove(activeClass)
            $filter.classList.add(activeClass)

            this.$activeFilter = $filter
        }

        filter(filter) {
            const showAll = filter == 'all'
            const { hiddenClass } = this

            for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
            }
        }
        }

        new GalleryFilter()
    </script>

{% endblock %}