/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-contact-233 {
    padding: var(--sectionPadding);
  }
  #cs-contact-233 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cs-contact-233 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #cs-contact-233 #cs-form-233 {
    width: 100%;
    margin: 0;
  }
  #cs-contact-233 #cs-form-233 label {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #cs-contact-233 #cs-form-233 input,
  #cs-contact-233 #cs-form-233 textarea {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    margin-top: 0.25rem;
    padding-left: 1.25rem;
    border: 1px solid #b4b2c7;
    border-radius: 0.25rem;
    /* prevents border & padding from affecting height */
    box-sizing: border-box;
    transition: border 0.3s;
  }
  #cs-contact-233 #cs-form-233 input:hover,
  #cs-contact-233 #cs-form-233 textarea:hover {
    border: 1px solid var(--primary);
  }
  #cs-contact-233 #cs-form-233 textarea {
    font-family: inherit;
    padding-top: 1.25rem;
    min-height: 7.5rem;
  }
  #cs-contact-233 .cs-submit {
    border: none;
  }
  #cs-contact-233 .cs-submit:hover {
    cursor: pointer;
  }
  #cs-contact-233 .cs-right-section {
    position: relative;
    width: 100%;
    height: 20rem;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0.75rem;
    /* cuts off corners on img tag */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  #cs-contact-233 .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #cs-contact-233 .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    text-decoration: none;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }
  #cs-contact-233 .cs-link:before {
    /* Animated underline */
    content: "";
    width: 0%;
    height: 2px;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-contact-233 .cs-link:hover:before {
    width: 100%;
  }
  #cs-contact-233 .cs-link:last-of-type {
    margin-bottom: 0;
  }
  #cs-contact-233 .cs-bg-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.6s;
  }
  #cs-contact-233 .cs-bg-picture:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cs-contact-233 .cs-bg-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #cs-contact-233 #cs-form-233 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #cs-contact-233 #cs-form-233 label {
    width: 48%;
  }
  #cs-contact-233 #cs-form-233 .cs-label-message {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-contact-233 .cs-container {
    max-width: 80em;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    /* 80px - 108px */
    gap: clamp(5rem, 7vw, 6.75rem);
  }
  #cs-contact-233 .cs-left {
    max-width: 32.625rem;
  }
  #cs-contact-233 #cs-form-233 label {
    width: 100%;
  }
  #cs-contact-233 .cs-right-section {
    height: 50rem;
    width: 40%;
    max-width: 33.875rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-contact-233 .cs-right-section:hover .cs-bg-picture {
    transform: scale(1.1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-contact-233 .cs-text,
  body.dark-mode #cs-contact-233 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact-233 #cs-form-233 label,
  body.dark-mode #cs-contact-233 #cs-form-233 input,
  body.dark-mode #cs-contact-233 #cs-form-233 textarea {
    background-color: transparent;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact-233 #cs-form-233 label::placeholder,
  body.dark-mode #cs-contact-233 #cs-form-233 input::placeholder,
  body.dark-mode #cs-contact-233 #cs-form-233 textarea::placeholder {
    /* lighten up the color of the text by 40%*/
    filter: brightness(1.4);
  }
  body.dark-mode #cs-contact-233 .cs-bg-picture {
    background-color: #000;
  }
  body.dark-mode #cs-contact-233 .cs-bg-picture img {
    /* lets parent background-color bleed through and darken it */
    opacity: 0.5;
  }
}
/*-- -------------------------- -->
<---          Map Link          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-map-1 {
    padding: var(--sectionPadding);
    padding-top: 1.875rem;
  }
  #cs-map-1 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
}

/*# sourceMappingURL=contact.css.map */
