/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1824 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #why-choose-1824 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1824 .cs-topper {
    width: auto;
  }
  #why-choose-1824 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 40.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #why-choose-1824 .cs-title {
    margin: 0;
    max-width: 25ch;
  }
  #why-choose-1824 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #why-choose-1824 .cs-box {
    border-radius: 0.75rem;
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-1824 .cs-box-content {
    margin: 0;
    /* 32px - 40px top & bottm */
    /* 24px - 40px left & right */
    padding: clamp(2rem, 2.5vw, 2.5rem) clamp(1.5rem, 3vw, 2.5rem);
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: hidden 0.3s, opacity 0.3s, transform 0.7s;
  }
  #why-choose-1824 .cs-box-content.cs-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(3rem);
  }
  #why-choose-1824 .cs-box-icon {
    text-align: left;
    width: 3.875rem;
    height: auto;
    margin: 0 0 2rem;
    display: block;
  }
  #why-choose-1824 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1824 .cs-box-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #why-choose-1824 .cs-button-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  #why-choose-1824 .cs-button {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0 0 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  #why-choose-1824 .cs-button.cs-active .cs-icon-wrapper, #why-choose-1824 .cs-button:hover .cs-icon-wrapper {
    background-color: var(--primary);
  }
  #why-choose-1824 .cs-button.cs-active .cs-icon, #why-choose-1824 .cs-button:hover .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #why-choose-1824 .cs-button.cs-active .cs-arrow, #why-choose-1824 .cs-button:hover .cs-arrow {
    filter: none;
    opacity: 1;
  }
  #why-choose-1824 .cs-button:hover {
    cursor: pointer;
  }
  #why-choose-1824 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing them */
    flex: none;
    transition: background-color 0.3s;
  }
  #why-choose-1824 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1824 .cs-button-text {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    max-width: 19ch;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #why-choose-1824 .cs-arrow {
    width: 2rem;
    margin-left: auto;
    filter: grayscale(1) brightness(100%);
    opacity: 0.2;
    height: auto;
    display: block;
  }
  #why-choose-1824 .cs-image-group {
    width: 100%;
    height: 100vw;
    min-height: 25rem;
    /* chnages to 100% on desktop */
    max-height: 42.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1824 .cs-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #why-choose-1824 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.75rem;
  }
  #why-choose-1824 .cs-floater {
    /* 72px - 120px */
    width: clamp(4.5rem, 10vw, 7.5rem);
    height: clamp(4.5rem, 10vw, 7.5rem);
    background-color: var(--bodyTextColorWhite);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 10;
  }
  #why-choose-1824 .cs-floater-icon {
    /* 32px - 60px */
    width: clamp(2rem, 4vw, 3.75rem);
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1824 .cs-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  #why-choose-1824 .cs-flex {
    flex-direction: row;
    align-items: stretch;
  }
  #why-choose-1824 .cs-box {
    width: 50%;
    height: 100%;
    display: flex;
    order: 2;
  }
  #why-choose-1824 .cs-box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #why-choose-1824 .cs-button-group {
    width: 50%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1824 .cs-content {
    width: 53%;
    padding: 3rem 0 0 0;
    box-sizing: border-box;
  }
  #why-choose-1824 .cs-flex {
    width: 74%;
    max-width: 53rem;
    padding: 0 0 3rem;
    box-sizing: border-box;
  }
  #why-choose-1824 .cs-image-group {
    width: 40vw;
    max-width: 32.625rem;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1824 .cs-title, body.dark-mode #why-choose-1824 .cs-button-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1824 .cs-box {
    background-color: var(--dark);
  }
  body.dark-mode #why-choose-1824 .cs-box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  body.dark-mode #why-choose-1824 .cs-icon-wrapper {
    background-color: #2c2c2c;
  }
  body.dark-mode #why-choose-1824 .cs-button {
    border-color: rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #why-choose-1824 .cs-arrow {
    filter: grayscale(1) brightness(300%);
    opacity: 0.5;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-68 {
    padding: var(--sectionPadding);
    /* Mobile - 360px */
  }
  #sbs-68 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-68 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-68 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-68 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-68 .cs-picture {
    width: 95%;
    max-width: 34.375rem;
    margin: 0;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 312/335;
    border-radius: 1rem;
    z-index: 1;
  }
  #sbs-68 .cs-picture:before {
    /* Top right box */
    content: "";
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: var(--secondary);
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc function to get a negative clamp value */
    top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
  }
  #sbs-68 .cs-picture:after {
    /* Bottom left box */
    content: "";
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: #1a1a1a;
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc function to get a negative clamp value */
    bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    z-index: -1;
  }
  #sbs-68 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  #sbs-68 #quote-827 {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    /* 16px - 32px */
    padding: clamp(0.5rem, 3vw, 1.5rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-68 #quote-827 .cs-quote-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 100%;
    max-width: 31.25rem;
    margin: 0 0 1rem;
    color: #6e6e6e;
    display: block;
    z-index: 200;
  }
  #sbs-68 #quote-827 .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-68 #quote-827 .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--primary);
    display: block;
  }
  #sbs-68 #quote-827 .cs-quote-icon {
    /* 60px - 136px */
    z-index: 1;
    width: clamp(2.75rem, 9vw, 7.5rem);
    height: auto;
    position: absolute;
    bottom: 0;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-68 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    /* 60px - 128px */
    gap: clamp(3.75rem, 9.5vw, 8rem);
  }
  #sbs-68 .cs-picture {
    /* 328px - 502px */
    width: clamp(20.5rem, 37.5vw, 31.375rem);
    /* 440px - 520px */
    height: clamp(27.5rem, 40vw, 32.5rem);
    /* 16px - 20px */
    margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
    flex: none;
  }
  #sbs-68 .cs-content {
    width: 45%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-68 .cs-picture:before, body.dark-mode #sbs-68 .cs-picture:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-68 .cs-title,
  body.dark-mode #sbs-68 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-68 #quote-827 {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-68 #quote-827 .cs-quote-text,
  body.dark-mode #sbs-68 #quote-827 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-68 #quote-827 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #sbs-68 #quote-827 .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1821 {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #why-choose-1821 .cs-container {
    width: 100%;
    max-width: 106.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #why-choose-1821 .cs-content {
    text-align: center;
    width: 100%;
    padding: var(--sectionPadding);
    background-color: var(--primary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #why-choose-1821 .cs-topper {
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1821 .cs-title {
    margin: 0 0 3rem;
    max-width: 18ch;
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1821 .cs-picture {
    width: 100%;
    max-width: 36.625rem;
    height: auto;
    display: block;
  }
  #why-choose-1821 .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
  }
  #why-choose-1821 .cs-card-group {
    width: 100%;
    max-width: 36.625rem;
    padding: var(--sectionPadding);
    /* 16px - 44px */
    padding-left: clamp(1rem, 4vw, 2.75rem);
    /* 16px - 64px */
    padding-right: clamp(1rem, 4vw, 4rem);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* 32px - 40px */
    gap: clamp(2rem, 0.5vw, 2.5rem);
  }
  #why-choose-1821 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 36.625rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #why-choose-1821 .cs-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #why-choose-1821 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1821 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #why-choose-1821 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1821 .cs-container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #why-choose-1821 .cs-content {
    text-align: left;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
  }
  #why-choose-1821 .cs-content:before {
    /* background color, moves to the section parent at desktop */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1821 .cs-picture {
    margin-left: auto;
    max-width: 100%;
  }
  #why-choose-1821 .cs-card-group {
    width: 65%;
    max-width: 100%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1821 .cs-item {
    flex-direction: row;
  }
}
@media only screen and (min-width: 87.5rem) {
  #why-choose-1821:before {
    /* background color */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    left: 50%;
    right: auto;
    margin-right: 0.625rem;
    z-index: -1;
  }
  #why-choose-1821 .cs-content {
    width: 50%;
    padding-left: 1rem;
    padding-right: 0;
  }
  #why-choose-1821 .cs-content:before {
    left: 50%;
    right: auto;
    margin-right: 0.625rem;
  }
  #why-choose-1821 .cs-content .cs-title {
    max-width: 28.75rem;
  }
  #why-choose-1821 .cs-content .cs-picture {
    width: auto;
    height: 80%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: -1;
  }
  #why-choose-1821 .cs-content .cs-picture img {
    width: auto;
    height: 100%;
    max-height: 47.5rem;
    object-fit: contain;
  }
  #why-choose-1821 .cs-card-group {
    width: 50%;
  }
}
/* Dark Mode - Mobile */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1821 .cs-title,
  body.dark-mode #why-choose-1821 .cs-h3,
  body.dark-mode #why-choose-1821 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1821 .cs-content {
    background-color: transparent;
  }
  body.dark-mode #why-choose-1821 .cs-content:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.4;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  body.dark-mode #why-choose-1821 .cs-item-text {
    opacity: 0.8;
  }
}
/* Dark Mode Desktop 1400px */
@media only screen and (min-width: 87.5rem) {
  body.dark-mode #why-choose-1821:before {
    background: var(--primary);
    opacity: 0.4;
  }
  body.dark-mode #why-choose-1821 .cs-content {
    background-color: transparent;
  }
  body.dark-mode #why-choose-1821 .cs-content:before {
    display: none;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1807 {
    padding: var(--sectionPadding);
    /* 160px - 240px */
    padding-bottom: clamp(7rem, 25vw, 14rem);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-1807 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbsr-1807 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1807 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1807 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1807 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  #sbsr-1807 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 24px - 40px left & right */
    padding: 1.5rem clamp(1.5rem, 3.5vw, 2.5rem);
    border-radius: 0.75rem;
    background-color: #fff;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #sbsr-1807 .cs-stat {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--primary);
  }
  #sbsr-1807 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-family: "Bebas Neue";
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #sbsr-1807 .cs-person {
    width: 65%;
    height: auto;
    /* allows text align to move it left or right */
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  #sbsr-1807 .cs-person img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    object-fit: contain;
  }
  #sbsr-1807 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }
  #sbsr-1807 .cs-dark {
    display: none;
  }
  #sbsr-1807 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1807 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.08;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1807 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #sbsr-1807 .cs-content {
    width: 42%;
    max-width: 32.625rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbsr-1807 .cs-card-group {
    width: 46%;
    max-width: 28.8125rem;
  }
  #sbsr-1807 .cs-item {
    align-items: flex-end;
  }
  #sbsr-1807 .cs-person {
    /* this scales the full size down and ties the font size to the view width. So we use height an width in ems so the font size can scale it down smaller and grow proportionally with the screen size until it reaches its final dimensions */
    font-size: min(1.06vw, 1rem);
    width: 55.9375em;
    height: 58.5625em;
    right: auto;
    left: 50%;
    /* 150px - 228px */
    margin-left: calc(clamp(9.375rem, 18vw, 14.25rem) * -1);
  }
  #sbsr-1807 .cs-person img {
    /* ensure that whatever image we change this too will be 100% the height of the container. We do this change so that if you have a tall image you want to swap in, it won't overflow the container at the top. */
    height: 100%;
    width: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1807 .cs-title,
  body.dark-mode #sbsr-1807 .cs-text,
  body.dark-mode #sbsr-1807 .cs-stat,
  body.dark-mode #sbsr-1807 .cs-number {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1807 .cs-text, body.dark-mode #sbsr-1807 .cs-stat {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-1807 .cs-item {
    background-color: var(--dark);
    position: relative;
    z-index: 1;
  }
  body.dark-mode #sbsr-1807 .cs-item:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  body.dark-mode #sbsr-1807 .cs-light {
    display: none;
  }
  body.dark-mode #sbsr-1807 .cs-dark {
    display: block;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbs-1362 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #sbs-1362 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1362 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1362 .cs-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #sbs-1362 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1362 .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbs-1362 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-1362 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1362 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1362 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbs-1362 .cs-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }
  #sbs-1362 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    padding: 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primary);
    /* 48px - 80px */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #sbs-1362 .cs-box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
  }
  #sbs-1362 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1362 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1362 .cs-image-group {
    height: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1362 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #sbs-1362 .cs-title,
  body.dark-mode #sbs-1362 .cs-text,
  body.dark-mode #sbs-1362 .cs-li,
  body.dark-mode #sbs-1362 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1362 .cs-text,
  body.dark-mode #sbs-1362 .cs-li,
  body.dark-mode #sbs-1362 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-1362 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #sbs-1362 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1362 .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1741 {
    padding: var(--sectionPadding);
    padding-bottom: 8vh;
    position: relative;
  }
  #faq-1741 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #faq-1741 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1741 .cs-title {
    max-width: 18ch;
    margin: 0 0 2rem;
  }
  #faq-1741 .cs-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #faq-1741 .cs-faq-item {
    list-style: none;
    width: 100%;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq-1741 .cs-faq-item.active .cs-button {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
  }
  #faq-1741 .cs-faq-item.active .cs-button:before {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(315deg);
  }
  #faq-1741 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
    transform: rotate(-315deg);
  }
  #faq-1741 .cs-faq-item.active .cs-item-text {
    height: auto;
    /* 16px - 24px */
    padding: 1rem clamp(1rem, 2vw, 1.5rem);
    opacity: 1;
    border: 1px solid #e8e8e8;
  }
  #faq-1741 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    padding: 1rem;
    padding-left: 3.25rem;
    background-color: transparent;
    color: var(--headerColor);
    border: 1px solid #e8e8e8;
    display: block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1741 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1741 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 45%;
    left: 1.125rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
  }
  #faq-1741 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 45%;
    left: 1.3125rem;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
  }
  #faq-1741 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    height: 0;
    margin: 0;
    /* clips the text so it doesn't show up */
    overflow: hidden;
    color: var(--bodyTextColor);
    opacity: 0;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
  #faq-1741 .cs-gallery {
    width: 100%;
    /* changes to 1720 at tablet */
    max-width: 36.5rem;
    margin: clamp(3rem, 6vw, 4rem) auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #faq-1741 .cs-picture {
    /* 210px - 400px */
    min-height: clamp(13.125rem, 27vw, 25rem);
    display: block;
    grid-column: span 5;
    grid-row: span 1;
    position: relative;
  }
  #faq-1741 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1741 .cs-gallery {
    max-width: 107.5rem;
  }
  #faq-1741 .cs-picture {
    grid-column: span 1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #faq-1741 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #faq-1741 .cs-content {
    text-align: left;
    width: 40%;
    align-items: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #faq-1741 .cs-gallery {
    grid-template-columns: repeat(5, 1fr);
  }
  #faq-1741 .cs-picture {
    grid-column: span 1;
  }
  #faq-1741 .cs-picture:nth-of-type(4), #faq-1741 .cs-picture:nth-of-type(5) {
    grid-column: span 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1741 .cs-title,
  body.dark-mode #faq-1741 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1741 .cs-faq-item.active .cs-button {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1741 .cs-faq-item.active .cs-button:before, body.dark-mode #faq-1741 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1741 .cs-faq-item.active .cs-item-text {
    /* 20px - 24px */
    padding-top: clamp(1.25rem, 1.3vw, 1.5rem);
    border-color: var(--accent);
  }
  body.dark-mode #faq-1741 .cs-button {
    color: var(--bodyTextColorWhite);
    border-color: var(--accent);
  }
  body.dark-mode #faq-1741 .cs-button:before, body.dark-mode #faq-1741 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-727 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #reviews-727 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-727 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-727 .cs-title {
    max-width: 20ch;
  }
  #reviews-727 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-727 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 48px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
    border-radius: 0.75rem;
    /* makes padding not affect height and width */
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-727 .cs-icon {
    /* 30px - 40px */
    width: clamp(2.875rem, 4vw, 3.5rem);
    height: auto;
    margin: 0 0 2rem 0;
    display: block;
  }
  #reviews-727 .cs-h3 {
    /* 20px - 25px */
    font-family: "Bebas Neue";
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    color: var(--headerColor);
  }
  #reviews-727 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 4vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 3rem 0;
    color: var(--bodyTextColor);
  }
  #reviews-727 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    margin: auto 0 0 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  #reviews-727 .cs-name:before {
    content: "";
    width: 0.5rem;
    height: 1px;
    background: currentColor;
    display: block;
    position: relative;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-727 .cs-container {
    max-width: 80rem;
  }
  #reviews-727 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #reviews-727 .cs-item {
    width: 48.5%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-727 .cs-topper,
  body.dark-mode #reviews-727 .cs-title,
  body.dark-mode #reviews-727 .cs-text,
  body.dark-mode #reviews-727 .cs-h3,
  body.dark-mode #reviews-727 .cs-item-text,
  body.dark-mode #reviews-727 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-727 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #reviews-727 .cs-item {
    background-color: var(--medium);
  }
}

/*# sourceMappingURL=local.css.map */
