.section-1 {
	height: 55vh;
	padding-bottom: 20px;
  background-image: url('/assets/images/schedule-bg-2.png');
	background-size: cover;
	background-position: center center;
}

#container-1 {
  padding-top: 130px;

}

#schedule-header-container h1 {
	font-size: 8rem;
	color: var(--maroon);
	font-family: "Bebas Neue";
  font-weight: bold;
}

#schedule-paragraph-container p {
  font-size: 1.75rem;
  color: black;
  font-family: "Be Vietnam";
}

#phone-hand-img {
  height: 30%;
}

.section-2 {
	height: 135vh;
  min-height: auto;
  background-color: var(--main-gray);
}

.dropdown .btn {
  background-color: var(--maroon);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.75rem;
  white-space: nowrap;
  box-shadow: 0 8px 10px 0 rgba(180, 4, 4, 0.2);
  transition: all .2s ease-in-out;
  padding: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.dropdown .btn:hover {
  color: white;
  background-color: var(--highlight-red);
}

.dropdown .dropdown-menu {
  background-color: white;
  box-shadow: 2px 2px 4px var(--gray-1);
  font-size: 1.5rem;
  font-family: "Be Vietnam";
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

#calendar-container {
	display: flex;
	font-display: row;
	width: 200vw;
	transition: 0.5s ease-in-out;
	padding-bottom: 20px;
	padding-top: 20px;
}

.weekday-container,
.weekend-container {
	display: flex;
	font-display: row;
	width: 100vw;
	justify-content: center;
}

.weekday-container {
	justify-content: center;
}

.calendar-column {
	width: 20%;
	margin: 3px;
	border-radius: 10px;
}

.calendar-block {
	border-radius: 5px;
	height: 175px;
	margin-top: 5px;
	background-color: white;
  box-shadow: 2px 2px 7px var(--gray-1);
}

.calendar-header-container {
	background-color: #d9d9d9;
	padding: 0.75rem;
	border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px var(--gray-1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-circle {
  position: relative;
  right: 10rem;
  color: var(--main-red);
}

.calendar-header-container h1 {
	font-family: "Bebas Neue";
	font-size: 2.25rem;
	margin: 0;
}

.calendar-time-container,
.calendar-subtitle-container,
.calendar-description-container {
	padding-left: 10px;
}

.calendar-time-container h2 {
	font-family: "Bebas Neue";
	font-size: 5rem;
	color: var(--alt-gray-highlight);
}

.calendar-subtitle-container h3 {
	font-family: "Bebas Neue";
	font-size: 2rem;
	color: var(--maroon);
}

.calendar-description-container p {
	font-family: "Be Vietnam";
	font-size: 1.5rem;
	color: black;
	width: 90%;
}

.custom-button {
	height: 45px;
	width: 45px;
	background-color: #d9d9d9;
  box-shadow: 2px 2px 4px var(--gray-1);
  border: none;
	border-radius: 10px;
  z-index: 3;
}

.custom-button:active {
	background-color: var(--gray-2);
}

.fa-chevron-right,
.fa-chevron-left {
	pointer-events: none;
	font-size: 2rem;
}

.mobile-btn {
  display: none;
}

@media (max-width: 1800px) {
  .section-1 {
    height: 80vh;
  }

  .section-2 {
    height: 200vh;
    min-height: auto;
  }

  footer {
    height: 40vh;
  }
}

@media (max-width: 1200px) {

  .navbar-text {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar .container-0 .navbar-brand /* logo container */ {
    margin-right: 1%;
  }

  .collapse .navbar-text .fa-solid {
    display: none;
    margin-left: 0;
    margin-right: 0;
  }

  .become-member {
    background-color: var(--maroon);
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 0.75rem;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    margin-left: 1px;
  }

  .section-1 {
    height: 50vh;
  }

  .section-2 {
    height: 130vh;
    min-height: auto;
  }
}

@media (max-width: 992px) {

  body {
    overflow-x: hidden;
  }

  body.no-scroll {
    overflow-y: hidden;
  }

  .nav-section {
    width: 100vw;
    z-index: 3;
    background-color: white;
    position: absolute;
  }

  .navbar {
    background-color: var(--main-gray);
    max-height: 130vh;
    width: 100vw;
    background-color: none;
    z-index: 100;
  }
  
  .navbar .container-0 .navbar-brand /* logo container */ {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 10px 1.5rem;
    margin-right: 5%;
    background-color: none;
  }
  
  button.navbar-toggler {
    border: none; 
    outline: none; 
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0 1.5rem;
  }

  .navbar-nav {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 5px;
    height: 100vh;
  }

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--maroon);
    font-size: 7rem; 
    font-family: "Bebas Neue"; 
    font-weight: bold; 
    text-align: start;
    text-wrap: nowrap;
    padding: 0;
    margin: 0 0 0 15px;
    text-shadow: 1px 1px 1px var(--alt-gray);
    opacity: 0;
    transition: opacity 0.7s ease;
    background-color: none;
    background: none;
  }

  .nav-item-2 {
    display: block;
  }

  #log-in-mobile a,
  #join-us-mobile a {
    color: var(--alt-gray-highlight);
  }

  .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    opacity: 1;
  }

  .navbar-text,
  .become-member,
  .log-in {
    display: none;
  }

  .section-1 {
    height: auto;
    padding-bottom: 20px;
    background-image: url('/assets/images/schedule-bg-2.png');
    background-size: cover;
    background-position: center center;
  }

  .container-1 {
    height: auto;
  }

  #phone-hand-img {
    max-height: 100vh;
    transform: translateX(25vw);
  }

  .section-2 {
    height: auto;
    overflow-x: hidden;
  }
  
  #calendar-container {
    width: 200vw;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .weekday-container,
  .weekend-container {
    display: flex;
    font-display: row;
    width: 100vw;
    justify-content: center;
  }

  #phone-hand-img {
    display: none;
  }

  .calendar-block {
    height: 190px;
  }

  .calendar-description-container p {
    line-height: 1.25;
    width: 90%;
  }
}

@media (max-width: 768px) {

  .navbar-brand img {
    height: 20px;
  }

  #phone-hand-img {
    max-height: 350px;
  }

  .section-2 {
    height: auto;
  }

  #calendar-container {
    /* border: 2px solid pink; */
    width: 700vw;
    padding-top: 0;
  }
  
  .weekday-container,
  .weekend-container {
    display: flex;
    font-display: row;
    /* border: 2px solid red; */
    width: 300vw;
    justify-content: center;
  }
  
  .weekday-container {
    justify-content: center;
    width: 400vw;
  }
  
  .calendar-column {
    width: 100vw;
    margin: 5px 30px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0);
    transition: transform 0.5s ease-in-out; 
  }
  
  .calendar-block {
    height: 200px;
    width: 80%;
    margin-top: 10px;
  }
  
  .calendar-header-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
    box-shadow: none;
  }

  .calendar-header-container h1 {
    background-color: #d9d9d9;
    padding: 1rem 10rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--gray-1);
    margin: 0 20px;
  }
  
  .fa-circle {
    position: relative;
    right: 26rem;
    color: var(--main-red);
  }
  
  .calendar-header-container h1 {
    font-size: 3rem;
  }
  
  .calendar-time-container h2 {
    font-size: 7rem;
  }
  
  .calendar-subtitle-container h3 {
    font-size: 4rem;
  }
  
  .calendar-description-container p {
    font-size: 2rem;
    width: 60%;
  }

  #buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  
  .fa-chevron-right,
  .fa-chevron-left {
    pointer-events: none;
    font-size: 2rem;
  }

  .custom-button {
    display: none;
  }

  .mobile-btn {
    display: block;
    margin: 20px 10px 0 10px;
    height: 40px;
    width: 40px;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 4px var(--gray-1);
    border: none;
    border-radius: 5px;
  }

  .mobile-btn-left.inactive {
    pointer-events: none;
    color: white;
  }

  .mobile-btn:active {
    box-shadow: none;
  }

}

@media (max-width: 576px) {

  body {
    overflow-x: hidden;
  }

  .row {
    max-width: 100vw;
  }

  .navbar-collapse {
    flex: 1;
    overflow-y: auto;
    max-height: 100dvh;
  }

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-left: 10px;
    font-size: 7rem;
    margin-bottom: -10%;
  }

  #img-container {
    padding: 0;
  }

  #phone-hand-img {
    max-height: 80vh;
    transform: translateX(2vw);
  }

  .calendar-column {
    width: 100vw;
    margin: 5px 0;
  }

  .calendar-block {
    margin-top: 5px;
  }

  .calendar-header-container h1 {
    padding: 1rem 7rem;
    margin: 0 10px;
  }
  
  .fa-circle {
    right: 22rem;
  }
  
  .calendar-time-container h2 {
    font-size: 5rem;
  }
  
  .calendar-subtitle-container h3 {
    font-size: 3rem;
  }
  
  .calendar-description-container p {
    font-size: 2rem;
    width: 80%;
  }
}