---
title: 'Brazilian Jiu-Jitsu'
description: "With tailored instruction, you'll be tapping into the power of BJJ in no time. Ignite your passion, build unshakeable confidence, and embark on an adventure of physical and mental transformation."
preloadImg: '/assets/images/home-landing-bg.png'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section class="section-1">
      <div class="container container-1">
        <div class="row" id="landing-page-container">
          <div class="col-12 intro-container justify-content-center">
            <div class="row justify-content-center">
              <div class="col-12 intro-header-container text-center mx-md-auto">
                <h1>Learn, Roll, Excel</h1>
              </div>
            </div>
            <div class="row col-12 justify-content-center mx-auto">
              <div class="col-12 col-xl-5 col-md-12 text-center intro-paragraph-container">
                <p>With tailored instruction, you'll be tapping into the power of BJJ in no time. Ignite your passion, build unshakeable confidence, and embark on an adventure of physical and mental transformation.</p>
              </div>
            </div>
            <div class="row col-12 mx-auto justify-content-center">
              <div class="call-to-action col-xl-8 col-md-8 text-center mx-md-auto mx-lg-0">
                <div class="row text-center justify-content-center">
                  <div class="col-8 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                    <div class="free-class d-flex justify-content-center">
                      <a href="/contact">Free Class</a>
                    </div>
                  </div>
                  <div class="col-8 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                    <div class="learn-more-container d-flex justify-content-center">
                      <a href="/About">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/home-landing-bg-m.png">
        <source media="(min-width: 601px)" srcset="/assets/images/home-landing-bg.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/home-landing-bg.png" alt="Sub-G gym" width="1920" height="1280">
      </picture>
    </section>

    <!-- ============================================ -->
    <!--                  About us                    -->
    <!-- ============================================ -->

    <section class="section-4">
      <div class="container" id="container-5">
        <div class="row justify-content-center justify-content-lg-start" id="about-section-container">
          <div id="images-container" class="col-12 col-lg-6 justify-content-center d-flex">
            <img src="/assets/images/landing-page-imgs.png" alt="about images" id="about-images" height="30px" loading="lazy" decoding="async">
          </div>
          <div id="about-us-container" class="col-12 col-lg-6">
            <div class="row justify-content-center justify-content-lg-start">
              <div id="about-us-header" class="col-11 col-lg-8 text-start mx-4 mx-lg-0">
                <h1>Our Story</h1>
              </div>
            </div>
            <div class="row justify-content-center justify-content-lg-start">
              <div class="about-paragraph col-11 col-lg-11 text-start mx-4 mx-lg-0" id="about-paragraph-1">
                <p>
                  Lorem ipsum dolor sit amet. Est laborum dolore est esse voluptas qui molestiae rerum eum porro 
                  saepe sit accusamus consequatur. Sed obcaecati veniam vel atque perferendis sed neque soluta.
                </p>
              </div>
            </div>
            <div class="row justify-content-center justify-content-lg-start">
              <div class="about-paragraph col-11 col-lg-11 text-start mx-4 mx-lg-0" id="about-paragraph-2">
                <p>
                  Lorem ipsum dolor sit amet. Est laborum dolore est esse voluptas qui molestiae rerum eum porro 
                  saepe sit accusamus consequatur. Sed obcaecati veniam vel atque perferendis sed neque soluta.
                </p>
              </div>
            </div>
            <div class="row justify-content-center justify-content-lg-start">
              <div id="owner-quote" class="col-11 col-md-11 col-lg-12 col-xl-11">
                <p>Lorem ipsum dolor sit amet. Est laborum dolore est esse voluptas qui molestiae rerum eum porro.</p>
                <h2>Tyler Roberts</h2>
                <h3>Owner & Founder</h3>
              </div>
            </div>
            <div class="row col-12">
              <div class="col-12 col-lg-4 justify-content-center d-flex mx-2" id="more-about">
                <a href="/about">More About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================================ -->
    <!--                  Classes                     -->
    <!-- ============================================ -->

    <section class="section-2" id="section-2">
      <div class="container container-2">
        <div class="classes-container" id="classes-container">
          <div id="classes-header-container" class="col-12 text-center">
            <h1>Classes</h1>
          </div>
          <div id="classes-subtitle-container" class="col-11 col-md-7 col-lg-6 mx-auto text-center">
            <p>Choose from a wide variety of classes taught by experienced coaches, each dedicated to providing you with valuable insights and a supportive learning environment.</p>
          </div>
          <div class="row classes-info-container col-10 mx-auto">
            <div class="classes-table col-12 col-lg-3">
              <button class="class-option col-12 col-md-12 col-xl-9" id="class-option-1">Brazilian Jiu-Jitsu</button>
              <button class="class-option col-12 col-md-12 col-xl-9" id="class-option-2">Judo</button>
              <button class="class-option col-12 col-md-12 col-xl-9" id="class-option-3">Youth Jiu-Jitsu</button>
              <button class="class-option col-12 col-md-12 col-xl-9" id="class-option-4">Striking</button>
              <button class="class-option col-12 col-md-12 col-xl-9" id="class-option-5">Beginners Jiu-Jitsu</button>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left" id="classes-img-container"></div>
            <div class="col-12 col-lg-3" id="class-skills-container">
              <div class="mx-auto text-center text-lg-start" id="class-skills-logo">
                <img src="/assets/images/subg-nb-logo.png" height="70px" alt="Sub-G logo" loading="lazy" decoding="async">
              </div>
              <div class="mx-auto col-12 col-md-6 col-lg-12 text-center text-lg-start" id="class-skills-header"></div>
              <div class="mx-auto col-12 col-md-10 col-lg-12 text-center text-lg-start" id="class-skills-subtitle"></div>
              <div class="row justify-content-center justify-content-lg-start" id="class-skills-buttons">
                <div class="col-5 d-flex justify-content-center text-center mx-2" id="join-today">
                  <a href="/join" target="_blank">Pricing</a>
                </div>
                <div class="col-5 d-flex justify-content-center text-center mx-2" id="see-pricing">
                  <a href="/schedule">Schedule</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->
    <section class="section-6">
      <div class="container" id="container-3">
        <div class="row">
          <div id="contact-us-container" class="col-12 col-lg-5">
            <div class="col-12 justify-content-center d-flex text-center text-lg-start" id="email-away-container">
              <h1>We're just an email or call away</h1>
            </div>
            <div class="col-12 justify-content-center d-flex text-center mx-2" id="email-phone">
              <a href="" target="_blank" class="mx-2 mx-md-5"><img src="/assets/svgs/email-symbol.svg" alt="email symbol" height="15px" id="email-symbol" loading="lazy" decoding="async">subgbjj@gmail.com</a>
              <a href="" target="_blank" class="mx-2 mx-md-5"><img src="/assets/svgs/phone-symbol.svg" alt="phone symbol" height="15px" id="phone-symbol" loading="lazy" decoding="async">+1(123) 456-7890</a>
            </div>
          </div>
          <div class="col-12 col-lg-7" id="contact-us-form">
            <div class="col-12 text-center text-lg-start mx-lg-5" id="contact-us-header-container">
              <h1>Contact Us</h1>
            </div>
            <form name="home-contact" netlify>
              <div class="row mx-4">
                <div class="col-md-6 justify-content-center d-flex">
                  <div class="form-group col-12">
                      <label for="fname" class="label-container">First Name</label>
                      <input name="fname" id="fname" class="input-container" type="text" placeholder="Enter your first Name">
                  </div>
                </div>
                <div class="col-md-6 justify-content-center d-flex">
                  <div class="form-group col-12">
                      <label for="lname" class="label-container">Last Name</label>
                      <input name="lname" id="lname" class="input-container" type="text" placeholder="Enter your last Name">
                  </div>
                </div>
              </div>
              <div class="row mx-4">
                <div class="col-md-6 justify-content-center d-flex">
                  <div class="form-group col-12">
                    <label for="email" class="label-container">Email</label>
                    <input name="email" id="email" class="input-container" classtype="email" placeholder="Enter your email" autocomplete="email">
                  </div>
                </div>
                <div class="col-md-6 justify-content-center d-flex">
                  <div class="form-group col-12">
                    <label for="phone" class="label-container">Phone Number</label>
                    <input name="phone" id="phone" class="input-container" type="tel" placeholder="Enter your phone number" autocomplete="tel">
                  </div>
                </div>
              </div>
              <div class="row mx-4">
                <div class="col-md-12 justify-content-center d-flex">
                  <div class="form-group col-12">
                    <label for="message" class="label-container">Message</label>
                    <textarea name="message" id="message" class="input-container" rows="1" placeholder="Enter your message"></textarea>
                  </div>
                </div>
              </div>
              <div class="row mx-4" id="preferred-method-container">
                <legend class="label-container">Preferred Method of Reply</legend>
              </div>
              <div class="row mx-2">
                <div class="col-md-2 d-flex">
                  <div class="form-check d-flex">
                    <input name="preffered-email" id="preferred-phone" type="radio" name="radio-button" checked="checked">
                    <label for="preferred-phone">Phone</label>
                  </div>
                </div>
                <div class="col-md-2 d-flex">
                  <div class="form-check d-flex">
                    <input name="preferred-email" id="preferred-email" type="radio" name="radio-button">
                    <label for="preferred-email">Email</label>
                  </div>
                </div>
              </div>
              <div class="row mx-4">
                <div class="col-lg-4">
                  <button type="submit" class="col-12 col-md-12 col-xl-9" id="submit-contact-form">Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================================ -->
    <!--                 Maps location                -->
    <!-- ============================================ -->

    <section id="section-3">
      <div class="container" id="container-4">
        <div class="col-12 justify-content-center d-flex" id="maps-container">
          <iframe title="Sub-G Google Maps location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.858831648395!2d-74.69239342549608!3d41.37715169663247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c34f17ad797b65%3A0xa88ffa9805edbee4!2sSUB-G%20Brazilian%20Jiu%20Jitsu!5e0!3m2!1sen!2sus!4v1709437646874!5m2!1sen!2sus" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
        </div>
      </div>
    </section>

    {% include 'components/cta.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/assets/js/home.js"></script>

{% endblock %}

