/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #B40404;
        --primaryLight: #F51414;
        --secondary: #1c1c1c;
        --secondaryLight: #313131;
        --altBody: #A4A4A4;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        font-family: "Be Vietnam";
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--secondaryLight);
        text-align: inherit;
    }

    .cs-title {
        font-family: "Bebas Neue";
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(4 / 16 * 1rem);
        background: linear-gradient(90deg, var(--primaryLight) 35%, var(--primary));
        color: #fff;
        width: auto;
        font-size: calc(14 / 16 * 1rem);
        padding: calc(4 / 16 * 1rem) calc(30 / 16 * 1rem);
        border-radius: calc(6 / 16 * 1rem);
        text-decoration: none;
        text-transform: uppercase;
        line-height: calc(50 / 16 * 1em);
        font-weight: 700;
        transition: box-shadow 0.3s ease;

        .cs-button-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            color: #fff;

            .cs-button-icon {
                transform: translateX(0.25rem);
            }
        }

        // &:before {
        //     z-index: -1;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     content: "";
        //     opacity: 1;
        //     display: block;
        //     background-color: #000;
        //     height: 100%;

        //     //Transition properties
        //     width: 0;
        //     transition: width 0.3s;
        // }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none !important;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Be Vietnam", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
        scroll-behavior: smooth;
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    /* bebas-neue-regular - latin */
    @font-face {
        font-display: swap; 
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* be-vietnam-pro-regular - latin */
    @font-face {
        font-display: swap; 
        font-family: 'Be Vietnam';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* knewave-regular - latin */
    @font-face {
        font-display: swap; 
        font-family: 'Knewave';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/knewave-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
            }
        }
    }

    #dark-mode-toggle {
        width: calc(48 / 16 * 1rem);
        height: calc(48 / 16 * 1rem);
        padding: 0;
        background: transparent;
        border: none;
        display: block;
        position: absolute;
        top: 50%;
        right: calc(90 / 16 * 1rem);
        z-index: 1000;
        overflow: hidden;
        transform: translateY(-50%);

        img,
        svg {
            width: calc(20 / 16 * 1rem);
            height: calc(20 / 16 * 1rem);
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition: transform 0.3s, opacity 0.3s;
            fill: #000;
        }

        .cs-sun {
            opacity: 0;
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        margin: 0;
        position: relative;
        top: auto;
        right: auto;
        transform: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
        background-color: #F9F9F9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        &.cs-active {
            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
            }

            .cs-toggle {
                transform: rotate(180deg);
            }

            .cs-li {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .cs-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: 40%;
            max-width: calc(116 / 16 * 1rem);
            height: 100%;
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-toggle {
            width: calc(48 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
            margin: 0 0 0 auto;
            background-color: var(--primary);
            border: none;
            border-radius: calc(4 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.6s;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                opacity: 0;
                bottom: 100%;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            background-color: #fafbfc;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transition: transform 0.5s, top 0.3s, left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top 0.3s, left 0.3s, transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom 0.3s, opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: 100vh;
            padding-bottom: calc(48 / 20 * 1em);
            background-color: #fff;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.4s, opacity 0.3s;
            transform-origin: top;
        }

        .cs-ul {
            width: 100%;
            height: auto;
            max-height: 85vh;
            margin: 0;
            padding: calc(150 / 16 * 1rem) 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            overflow: scroll;
        }

        .cs-li {
            list-style: none;
            margin-right: 0;
            opacity: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            transition: transform 0.6s, opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-family: "Bebas Neue";
            font-size: clamp(3rem, 3vw, 3.5rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--primary);
            text-shadow: 1px 1px 1px var(--secondaryLight);
            display: inline-block;
            position: relative;

            &:before {
                /* active state underline */
                content: "";
                width: 100%;
                height: 2px;
                background: var(--primary);
                opacity: 1;
                display: none;
                position: absolute;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
            }

            &.cs-active {
                color: var(--secondary);
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            .cs-logo {
                /* makes it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-line {
                background-color: #fff;
            }

            .cs-ul-wrapper {
                background-color: var(--medium);
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            color: var(--bodyTextColorWhite);
            position: relative;
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: calc(12 / 16 * 1rem) 0 0 0;
                    padding: calc(12 / 16 * 1rem) 0;
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            width: calc(15 / 16 * 1rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: calc(-20 / 16 * 1rem);
            transform: translateY(-50%);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            opacity: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            overflow: hidden;
            transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s,
                visibility 0.3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background-color: var(--dark);
            }
        }
    }
}  

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: calc(15 / 16 * 1rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: calc(200 / 16 * 1rem);
            margin: 0;
            padding: 0;
            background-color: #F9F9F9;
            opacity: 0;
            border-bottom: 5px solid var(--primary);
            visibility: hidden;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
            transform-origin: top;
        }

        .cs-drop-li {
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            opacity: 0;
            display: block;
            transform: translateY(-0.625rem);
            transition: opacity 0.6s, transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                text-transform: capitalize;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
                /* prevents padding and border from affecting height and width */
                box-sizing: border-box;
                padding: calc(12 / 16 * 1rem);
                color: var(--bodyTextColor);
                display: block;
                transition: color 0.3s, background-color 0.3s;

                &:hover {
                    color: var(--bodyTextColorWhite);
                    background-color: var(--primary);
                }

                &:before {
                    display: none;
                }
            }
        }

        .cs-button-solid {
            font-size: calc(14 / 16 * 1rem);
            padding: calc(4 / 16 * 1rem) calc(30 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background-color: var(--dark);
            }
        }
    }
}  

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0 calc(16 / 16 * 1rem);
        background-color: #F9F9F9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            /* same height as the cs-ul-wrapper */
            height: calc(93 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: calc(180 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: calc(36 / 16 * 1rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-family: "Be Vietnam";
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            font-weight: 700;
            line-height: 1.5em;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                color: var(--primary);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            .logo-g {
                .cls-1,
                .cls-4 {
                    fill: #FFFFFF;
                }
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
                font-weight: 700;

                &.cs-active {
                    color: var(--primaryLight);
                }
            }
        }
    }
}  

/*-- -------------------------- -->
<---       Interior Banner      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #banner-1004 {
        padding: 0 calc(16/16 * 1rem);
        /* 160px - 245px */
        padding-top: clamp(5rem, 25vw, 10.3125rem);
        padding-bottom: calc(200/16 * 1rem);
        background-color: #000;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-picture {
            width: 100%;
            margin: 0 0 calc(12/16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(16/16 * 1rem);
            position: relative;

            &:before {
                /* left line */
                content: "";
                width: 50%;
                max-width: calc(150/16 * 1rem);
                height: 1px;
                background: #b4b2c7;
                opacity: 1;
                position: relative;
                display: block;
            }

            &:after {
                /* right line */
                content: "";
                width: 50%;
                max-width: calc(150/16 * 1rem);
                height: 1px;
                background: #b4b2c7;
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-icon {
            width: 40%;
            /* 100px - 180px */
            max-width: clamp(3.25rem, 18vw, 8.25rem);
            height: auto;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.5vw, 3.8125rem);
            font-weight: 900;
            font-family: "Bebas Neue";
            line-height: 1.2em;
            text-align: center;
            max-width: calc(700/16 * 1rem);
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--primaryLight);
            position: relative;
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay box */
                content: "";
                width: 100%;
                height: 100%;
                background: #2d2d2d;
                opacity: 0.72;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1920/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-graphic-dark {
            display: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #banner-1004 {
            .cs-graphic {
                display: none;
            }

            .cs-graphic-dark {
                display: block;
                fill: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #cta {
        position: relative;
        padding: calc(50 / 16 * 1rem) 0;
        padding-top: calc(100 / 16 * 1rem);

        .cs-graphic {
            width: 100%;
            min-width: calc(1920/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%) rotate(180deg);
        }

        .cs-graphic-dark {
            display: none;
        }

        .container {
            text-align: center;
        }

        picture {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .title {
            position: relative;
            margin-bottom: calc(36 / 16 * 1rem);
            font-size: min(9vw, 3rem);
            font-family: "Bebas Neue";
            line-height: calc(58 / 48 * 1em);
            font-weight: 900;
            color: #fff;
            text-align: center;
        }

        p {
            opacity: 1;
            margin: auto;
            margin-bottom: calc(36 / 16 * 1rem);
            max-width: calc(598 / 16 * 1rem);
            width: 96%;
            color: #fff;
            text-align: center;
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 0.7;
            display: block;
            background: #00071a;
            height: 100%;
            width: 100%;
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
    #cta {
        padding: calc(168 / 16 * 1rem) 0 calc(108 / 16 * 1rem) 0;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    #cta {
        position: relative;
        margin-top: calc(100 / 16 * 1rem);
        .container {
            margin: auto;
            width: 100%;
        }

        picture {
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            &:before {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                opacity: 0.7;
                display: block;
                background: #000;
                height: 100%;
                width: 100%;
            }
        }
        &:before {
            display: none;
        }
        &:after {
            z-index: -3;
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            opacity: 1;
            transform: translateX(-50%);
            display: block;
            background: url("/assets/svgs/cta-squares.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: calc(1108 / 16 * 1rem);
            width: calc(2000 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta {
            &:after {
                display: none;
            }

            .cs-graphic {
                display: none;
            }

            .cs-graphic-dark {
                display: block;
                fill: var(--medium);
                width: 100%;
                min-width: calc(1920/16 * 1rem);
                height: auto;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 0;
                transform: translateX(-50%) rotate(180deg);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1339 {
        padding: var(--sectionPadding);
        /* 30px - 50px */
        padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
        background-color: #1a1a1a;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: calc(48 / 16 * 1rem);
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            max-width: 23ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-logo {
            width: 100%;
            max-width: calc(117/16 * 1rem);
            height: auto;
            margin-bottom: calc(16 / 16 * 1rem);

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-social {
            display: inline-flex;
            justify-content: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-social-link {
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            background-color: #484848;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition:
                transform 0.3s,
                background-color 0.3s;

            &:hover {
                background-color: var(--primaryLight);
                transform: translateY(-0.1875rem);

                .cs-social-img {
                    filter: grayscale(1) brightness(100%);
                }
            }
        }

        .cs-social-img {
            height: calc(12 / 16 * 1rem);
            filter: grayscale(1) brightness(630%);
            width: auto;
            display: block;
        }

        .cs-header {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            color: #fff;
            display: block;
            position: relative;
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-li {
            list-style: none;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-decoration: none;
            line-height: 1.5em;
            text-align: left;
            color: var(--bodyTextColorWhite);
            display: inline-flex;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primaryLight);
            }
        }

        .cs-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            margin-right: calc(2 / 16 * 1rem);
            display: block;
        }

        .cs-bottom {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            /* 48px - 64px */
            margin: clamp(1.75rem, 7vw, 4rem) auto 0;
            /* 28px - 40px */
            padding-top: clamp(1.75rem, 3vw, 2.5rem);
            border-top: 1px solid #484848;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-credit,
        .cs-bottom-link,
        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: #bababa;
            display: inline-block;
            position: relative;
            transition: color 0.3s;
        }

        .cs-credit {
            width: 100%;
        }

        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: #bababa;
            display: inline-block;
            position: relative;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-bottom-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-bottom-link {
            display: flex;
            align-items: center;

            &:hover {
                color: var(--primary);
            }

            &:last-of-type {
                &:before {
                    /* seperator */
                    content: "";
                    width: 1px;
                    height: calc(14 / 16 * 1rem);
                    margin: 0 calc(12 / 16 * 1rem);
                    background: currentColor;
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1339 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* 48px - 120px */
            column-gap: clamp(3rem, 8vw, 7.5rem);
            flex-wrap: nowrap;
        }

        .cs-logo-group {
            width: 45%;
            max-width: calc(622 / 16 * 1rem);
            /* pushes the lists away from it and to the right */
            margin-right: auto;
        }

        .cs-bottom {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .cs-credit {
            text-align: left;
        }

        .cs-bottom-links {
            justify-content: flex-end;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 48rem) {
    body.dark-mode {
        #cs-footer-1339 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
