/* PAGE-SPECIFIC STYLES FOR THE Schedule PAGE */

/*-- -------------------------- -->
<---         Timetable          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #timetable-1731 {
        padding: var(--sectionPadding);
        position: relative;
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 28.75rem;
        }

        .cs-button-group {
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            row-gap: calc(16/16 * 1rem);
            /* 20px - 32px */
            column-gap: clamp(1.25rem, 2vw, 2rem);
            width: 100%;
        }

        .cs-button {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: '';
                width: 100%;
                height: 4px;
                background: var(--primary);
                opacity: 0;
                border-radius: 4px 4px 0 0;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: opacity .3s, bottom .3s;
            }

            &:hover {
                color: var(--primary);
                cursor: pointer;

                &:before {
                    opacity: 1;
                    bottom: calc(-10/16 * 1rem);
                }
            }

            &.cs-active {
                color: var(--primary);

                &:before {
                    opacity: 1;
                    bottom: calc(-10/16 * 1rem);
                }
            }
        }

        .cs-table-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 3vw, 1.25rem);

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that posiiton when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-table {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem) rotateX(90deg);
                    opacity: 0;
                }
            }
        }

        .cs-table {
            /* 260px - 360px */
            border-radius: calc(8/16 * 1rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
            transform: translateY(0rem) rotateX(0);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* the transition delays change at desktop */
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.1s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.8s;
            }
        }

        .cs-table {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;

            .highlighted-day {
                background-color: var(--primary);
                color: #fff;

                th {
                    color: var(--bodyTextColorWhite);
                }
            }

            thead {
                padding: calc(20 / 16 * 1rem);
                background-color: #e8e8e8;
                transition: background-color 0.3s;

                th {
                    /* 20px - 25px */
                    font-size: clamp(1.25rem, 4vw, 1.5625rem);
                    font-weight: 700;
                    line-height: 1.2em;
                    color: var(--headerColor);
                    transition: color 0.3s;
                }
            }

            tbody {
                min-height: calc(184 / 16 * 1rem);
                padding: calc(20 / 16 * 1rem);
                border-radius:  0 0 calc(8 / 16 * 1rem) calc(8 / 16 * 1rem);
                background-color: #f7f7f7;
                display: flex;
                flex-direction: column;
                gap: calc(16 / 16 * 1rem);

                tr {
                    display: flex;
                    justify-content: space-between;
                }

                th,
                td {
                    font-size: calc(16 / 16 * 1rem);
                    font-weight: 400;
                    line-height: 1.5em;
                    color: var(--bodyTextColor);
                }
            }

            &:hover {
                thead {
                    background-color: var(--primary);

                    th {
                        color: #fff;
                    }
                }
            }           
        }

        [data-category="two"] {
            .cs-table {
                tbody {
                    min-height: calc(144 / 16 * 1rem);
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #timetable-1731 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-table-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #timetable-1731 {
        .cs-table-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #timetable-1731 {
            background-color: var(--dark);

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-button {
                color: var(--bodyTextColorWhite);

                &.cs-active {
                    color: var(--primaryLight);
                }
            }

            .cs-table {
                thead {
                    background-color: var(--secondaryLight);

                    th {
                        color: var(--bodyTextColorWhite);
                    }
                }

                tbody {
                    background-color: var(--secondary);

                    th,
                    td {
                        color: var(--bodyTextColorWhite);
                        opacity: 0.8;
                    }
                }

                &:hover {
                    thead {
                        background-color: var(--primary);

                        th {
                            color: #fff;
                        }
                    }
                }
            }

            .cs-background {
                display: none;
            }
        }
    }
}
